@model List<AdminChavpWeb.Models.MachineModel>

@{
    ViewBag.Title = "Services";
}


@foreach (var machine in Model)
{
    <div data-role="collapsible" data-theme="b" data-content-theme="c" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-collapsed="false">
        <h2>@machine.Name</h2>
        <ul data-role="listview" data-filter="true" data-inset="true">
        @foreach (var service in machine.Services)
        {
            <li data-role="list-divider">@service.Name</li>
            foreach (var method in service.Methods)
            {
                <li><a href='@Url.Action("MethodInfo", new { machineName = machine.Name, serviceName = service.Name, methodName = method.Name})'>@method.Name<span class="ui-li-count">@method.TotalUsage</span></a></li>
            }
        }
        </ul>
    </div>
}

<div data-role="footer" class="ui-bar">
	<a href='@Url.Action("Index")' data-role="button" data-icon="arrow-l">Home</a>
</div>